/.bsp/
target/
.metals/
.bloop/
keyfile.json
.vscode/
*.db
*_vk.txt
vk.txt
*.pbuf
.idea/
*.log
*.worksheet.sc
tmp/
bin/
*.vk
mnemonic.txt
grouppolicy.yaml
node_modules/
dist/
cli/src/main/resources/static/
test.fish
*.code-workspace
.direnv
